body {
  background-color: #dbdae1;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.colores {
  /* background-image: url("../Login/Img/background\ 2.png"); */
  /* background-color: #1800f1; */
  padding: 38px 0px 30px 0px;
  /* animation: back 10s infinite; */
}



/* @keyframes back {
  0% {
    background-color: #0795e0;
  }

  25% {
    background-color: rgb(42, 6, 150);
  }

  50% {
    background-color: rgb(11, 7, 122);
  }

  75% {
    background-color: rgb(62, 57, 217);
  }

  100% {
    background-color: #0795e0;
  } */
.first-cont {
  float: left;
  width: 50%;
  padding: 20px;

}

.second-cont {
  float: right;
  width: 50%;
  padding: 20px;
  margin-top: 33px;

}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin: 50px auto;
  max-width: 1400px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

h2 {
  color: #4285f4;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  float: left;
  /* Added color for better readability */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s;

  /* Added transition for smoother interaction */
}

/* Improved form input focus style */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus,
textarea:focus {
  outline: none;
  border-color: #4285f4;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #4285f4;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
  /* Added transition for smoother interaction */
}

.btn-primary:hover {
  background-color: #0056b3;

}

.btn-danger {
  font-size: 25px;
  /* float: left; */
  background: none;
  border: none;
  text-align: justify;
  margin: 0px 0px 0px 10px;
  float: inline-end;

}

.btn-secondary {
  font-size: 25px;
  /* float: left; */
  background: none;
  border: none;
  text-align: justify;
  margin: -40px 4px 4px 7px;
  float: inline-start;
  width: 50%;
}

/* .btn-secondary:hover {
  
} */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Change the direction to column for smaller screens */
    max-width: 90%;
  }

  .first-cont,
  .second-cont {
    width: 100%;
    /* Set the width of both containers to 100% */
    float: none;
    /* Remove the float property */
    padding: 10px;
    /* Adjust padding for smaller screens */
  }
}