/* JobPostingForm.css */
.job-posting-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-posting-container h1 {
  color: blue;
}

.job-posting-container form {
  margin-top: 20px;
}

.job-posting-container label {
  display: block;
  margin-bottom: 5px;
}

.job-posting-container input[type="text"],
.job-posting-container input[type="number"],
.job-posting-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-posting-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.job-posting-container button:hover {
  background-color: #45a049;
}

/* JobListingPage.css */

/* Other styles */

.apply-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  /* Adjust margin as needed */
}

.apply-btn:hover {
  background-color: #218838;
}

.apply-btn:active {
  transform: translateY(1px);
}

/* JobPostingForm.css */
.job-posting-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-posting-container h1 {
  color: blue;
}

.job-posting-container form {
  margin-top: 20px;
}

.job-posting-container label {
  display: block;
  margin-bottom: 5px;
}

.job-posting-container input[type="text"],
.job-posting-container input[type="number"],
.job-posting-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-posting-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.job-posting-container button:hover {
  background-color: #45a049;
}

.space {}